<footer class="footer mt-auto">
  <div class="container text-center">
    <a href="https://www.instagram.com/la.parcelle.des.reves/" target="_blank">
      <i class="fa-brands fa-instagram" style="color: #1F2F40;"></i>
    </a>
    <p class="mb-0 mt-2">
      <%= link_to "CGV - Mentions Légales", mentions_path %><br>
      &copy; Amélie Barbedienne et Catherine Barbedienne
    </p>
  </div>
</footer>
