<div class="background-home">
  <div class="overlay-text">
    <h1>La Parcelle des Rêves</h1>
    <p>Amélie et Catherine Barbedienne</p>
    <h3><%= link_to "Bienvenue", page_daccueil_path %></h3>
    </div>
</div>
