<div class="p-5">
  <h2>Conditions générales de ventes (CGV)</h2>
    <p><strong>La Parcelle des rêves</strong><br>
    Dernière mise à jour : 27/10/2025</p>
    <ol>
      <li><h5>Idendification du vendeur</h5></li>
        <p>Le présent site internet est édité par :<br>
        <strong>Amélie Barbedienne EI et Catherine Barbedienne EI</strong><br>
        Respectivement: 8, rue Barthel et 5, rue saint Louis, 77000 Melun<br>
        Email : laparcelledesreves.art@gmail.com<br>
        Numéro SIRET : Amélie Barbedienne EI 94308572000010 et Catherine Barbedienne EI 94303736600011<br>
        Responsable de publication : Amélie et Catherine Barbedienne
        </p>
      <li><h5>Champ d'application</h5></li>
        <p>Les présentes Conditions Générales de Vente (CGV) régissent
        les ventes de produits proposées sur le site <strong>laparceldesreves.com</strong>
        à des clients particuliers, en France et à l’international.
        Toute commande implique l’acceptation sans réserve des présentes CGV.
        </p>
      <li><h5>Produits</h5></li>
        <p>Les produits proposés sont des œuvres artistiques originales (tableaux, cyanotypes, etc.).<br>
        Chaque œuvre est présentée avec un descriptif détaillé (dimensions, technique, support...).
        Les photographies n’ont pas de valeur contractuelle, des variations de couleurs peuvent exister
        selon les écrans.
        </p>
      <li><h5>Prix</h5></li>
        <p>Les prix sont indiqués en euros (€), toutes taxes comprises (TTC), hors frais de livraison.<br>
        Le vendeur se réserve le droit de modifier ses prix à tout moment,
        mais les produits seront facturés sur la base des tarifs en vigueur au moment de la commande.
        </p>
      <li><h5>Commande</h5></li>
        <p>La commande s’effectue en ligne via le site. Le client reçoit un e-mail de
        confirmation après validation du paiement.<br>
        La vente est considérée comme définitive après confirmation par le vendeur et réception
        intégrale du paiement.
        </p>
      <li><h5>Paiement</h5></li>
        <p>Le paiement s’effectue par carte bancaire via la plateforme sécurisée <strong>Stripe</strong>.<br>
        Le débit est immédiat au moment de la commande. Aucune information bancaire n’est stockée par le site.
        </p>
      <li><h5>Livraison</h5></li>
        <p>Les œuvres sont expédiées dans un délai de 2 à 10 jours ouvrés après confirmation de commande.<br>
        La livraison est assurée par La Poste, à l’adresse indiquée par le client.<br>
        Les frais de livraison sont indiqués lors de la commande.<br>
        Le vendeur ne peut être tenu responsable de retards imputables au transporteur ou à la douane pour les envois internationaux.
        </p>
      <li><h5>Droit de rétractation</h5></li>
        <p>Conformément à l’article L221-18 du Code de la consommation,
        le client dispose d’un droit de rétractation de 14 jours à compter de la réception du produit.<br>
        Pour exercer ce droit, le client doit notifier sa décision par e-mail à
        laparcelledesreves.art@gmail.com dans ce délai.<br>
        Le produit devra être retourné dans son état d’origine, aux frais du client, à l’adresse suivante :<br>
        Adresse identique à celle indiquée sur l’envoi: 8, rue Barthel ou 5, rue saint Louis, 77000 Melun.<br>
        Le remboursement sera effectué dans un délai de 14 jours après réception du retour.
        </p>
        <p><strong>Exceptions</strong> : Le droit de rétractation ne s’applique pas aux œuvres
        personnalisées ou réalisées sur commande.
        </p>
      <li><h5>Responsabilité</h5></li>
        <p>Le vendeur ne saurait être tenu responsable des dommages résultant d’une mauvaise utilisation
        ou d’un mauvais entretien des œuvres.<br>
        En cas de défaut ou de non-conformité, le client doit en informer le vendeur sous 48h après réception.
        </p>
      <li><h5>Propriété intellectuelle</h5></li>
        <p>Toutes les œuvres proposées sur le site sont protégées par le droit d’auteur.<br>
        Aucun droit de reproduction ou de représentation n’est accordé.
        L’achat d’une œuvre ne transfère aucun droit de propriété intellectuelle.
        </p>
      <li><h5>Données personnelles</h5></li>
        <p>Les données personnelles collectées sont utilisées uniquement pour le traitement des commandes.<br>
        Le client dispose d’un droit d’accès, de modification et de suppression de ses données,
        en contactant le vendeur par e-mail.
        </p>
      <li><h5>Droit applicable et litige</h5></li>
        <p>Les présentes CGV sont soumises au droit français.<br>
        En cas de litige, une solution amiable sera recherchée. À défaut, les tribunaux français seront compétents
        </p>
    </ol>
<br>
  <h2>Mentions légales</h2>
    <p><strong>La Parcelle des rêves</strong><br>
    Dernière mise à jour : 27/10/2025</p>
    <ol>
      <li><h5>Éditeur du site</h5></li>
        <p>Le présent site est édité par :<br>
        <strong>La Parcelle des rêves</strong><br>
        Amélie Barbedienne EI et Catherine Barbedienne EI<br>
        Respectivement: 8, rue Barthel et 5, rue saint Louis, 77000 Melun<br>
        SIRET : respectivement 94308572000010 et 94303736600011<br>
        Numéro de TVA intracommunautaire : non soumis à la TVA.<br>
        Responsables de la publication : Amélie et Catherine Barbedienne<br>
        Adresse e-mail : laparcelledesreves.art@gmail.com
        </p>
      <li><h5>Hébergement du site</h5></li>
        <p>Le site est hébergé par : OVH<br>
        Adresse : [adresse complète de l’hébergeur]<br>
        Téléphone : [numéro de l’hébergeur]<br>
        Site web : [lien du site de l’hébergeur]
        </p>
      <li><h5>Propriété intellectuelle</h5></li>
        <p>L’ensemble du contenu du site <strong>laparceldesreves.com</strong>, incluant,
        de manière non limitative, les textes, images, graphismes,
        logo, œuvres, vidéos, sons, ainsi que leur mise en forme,
        est la propriété exclusive de <strong>Amélie Barbedienne et Catherine Barbedienne</strong>,
        sauf mentions contraires.<br>
        Toute reproduction, représentation, modification, publication,
        adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé,
        est interdite sans l'autorisation écrite préalable de l’artiste ou du titulaire des droits.
        </p>
      <li><h5>Données personnelles</h5></li>
        <p>Le site peut collecter des données personnelles lors de la navigation ou de la commande
        (nom, prénom, adresse, e-mail…).<br>
        Ces données sont traitées conformément à la réglementation en vigueur
        (RGPD – Règlement Général sur la Protection des Données).<br>
        Le responsable du traitement est : La Parcelle des Rêves<br>
        Le client peut exercer son droit d’accès, de rectification,
        d’opposition ou de suppression de ses données personnelles en adressant une demande
        à l’adresse suivante : laparcelledesreves.art@gmail.com<br>
        Les données ne sont ni vendues ni transmises à des tiers sans consentement explicite.
        </p>
      <li><h5>Cookies</h5></li>
        <p>Le site peut utiliser des cookies à des fins de fonctionnement ou de mesure d’audience.<br>
        Le visiteur peut configurer son navigateur pour refuser les cookies ou être alerté
        en cas d’utilisation de ceux-ci.
        </p>
      <li><h5>Limitation de responsabilité</h5></li>
        <p>Le site laparceldesreves.com s’efforce de fournir des informations aussi précises que possible.
        Toutefois, il ne pourra être tenu responsable des omissions,
        inexactitudes ou carences dans la mise à jour.<br>
        L’utilisateur reste responsable de l’utilisation qu’il fait des informations présentes sur le site.<br>
        Les présentes mentions légales sont soumises au droit français.
        En cas de litige, les tribunaux compétents seront ceux du siège social de l’éditeur.
        </p>
    </ol>
<br>
  <h2>Politique de confidentialité</h2>
    <p><strong>La Parcelle des rêves</strong><br>
    Dernière mise à jour : 27/10/2025</p>
    <ol>
      <li><h5>Préambule</h5></li>
        <p>La présente politique de confidentialité a pour objectif de vous informer
        sur la manière dont <strong>La Parcelle des Rêves</strong> collecte, utilise,
        protège et partage vos données personnelles dans le cadre de la navigation sur
        le site <strong>laparceldesreves.com</strong>, conformément au Règlement Général sur
        la Protection des Données (RGPD - UE 2016/679).
        </p>
      <li><h5>Responsable du traitement</h5></li>
        <p>Le responsable du traitement est :<br>
        <strong>La Parcelle des Rêves</strong><br>
        Amélie Barbedienne EI et Catherine Barbedienne EI<br>
        Respectivement: 8, rue Barthel et 5, rue saint Louis, 77000 Melun<br>
        Email : laparcelledesreves.art@gmail.com
        </p>
      <li><h5>Données collectées</h5></li>
        <p>Les données personnelles susceptibles d’être collectées sur le site sont les suivantes :
          <ul><strong>Lors d’un achat ou d’un formulaire de contact</strong> :
          nom, prénom, adresse e-mail, adresse postale, téléphone.
          </ul>
          <ul><strong>Lors de la navigation sur le site</strong> :
          adresse IP, type de navigateur, pages visitées, durée de visite,
          via des cookies ou outils de tracking.
          </ul>
        </p>
      <li><h5>Finalités de la collecte</h5></li>
        <p>Les données sont collectées pour les finalités suivantes :
          <ul>Traitement des commandes et livraisons</ul>
          <ul>Réponse aux demandes envoyées via les formulaires de contact</ul>
          <ul>Amélioration de l’expérience utilisateur sur le site</ul>
          <ul>Mesure d’audience et statistiques via un outil de tracking (ex. : Google Analytics)</ul>
          <ul>Respect des obligations légales (facturation, conservation, etc.)</ul>
        </p>
      <li><h5>Outil de tracking</h5></li>
        <p>Le site utilise un outil de mesure d’audience et/ou de marketing :<br>
        <strong>Exemple : Google Analytics</strong><br>
        Des cookies sont déposés afin de mesurer les visites, comprendre le comportement
        des utilisateurs et optimiser le site. Ces données peuvent être transmises à Google,
        et stockées sur des serveurs situés en dehors de l’Union européenne.<br>
        Vous pouvez désactiver ce suivi à tout moment en refusant les cookies ou via le
        [lien de désactivation Google : https://tools.google.com/dlpage/gaoptout].
        </p>
      <li><h5>Cookies</h5></li>
        <p>Un bandeau cookie s’affiche lors de votre première visite sur le site,
        vous permettant d’accepter ou refuser le dépôt de cookies non essentiels.<br>
        Vous pouvez également modifier vos préférences à tout moment via votre navigateur.
        </p>
      <li><h5>Durée de conservation</h5></li>
        <p>Les données personnelles sont conservées :<br>
          <ul>Jusqu’à 3 ans après le dernier contact pour les données marketing</ul>
          <ul>Jusqu’à 10 ans pour les données liées aux transactions, conformément aux obligations comptables</ul>
        </p>
      <li><h5>Destinataires des données</h5></li>
        <p>Les données sont destinées uniquement à <strong>La Parcelle des Rêves</strong>
        et ses prestataires techniques (hébergement, paiement, tracking).<br>
        Elles ne sont <strong>ni vendues ni cédées à des tiers</strong> sans votre consentement explicite.
        </p>
      <li><h5>Vos droits</h5></li>
        <p>Conformément à la législation en vigueur, vous disposez des droits suivants :<br>
          <ul>Droit d’accès à vos données</ul>
          <ul>Droit de rectification</ul>
          <ul>Droit à l’effacement (droit à l’oubli)</ul>
          <ul>Droit d’opposition</ul>
          <ul>Droit à la portabilité</ul>
          <ul>Droit de limitation du traitement</ul><br>
        Pour exercer vos droits, vous pouvez envoyer un e-mail à : laparcelledesreves.art@gmail.com <br>
        Vous avez également le droit d’introduire une réclamation auprès de la CNIL : https://www.cnil.fr
        </p>
      <li><h5>Sécurité des données</h5></li>
        <p>Des mesures de sécurité techniques et organisationnelles sont
        mises en œuvre pour protéger vos données contre tout accès non autorisé,
        altération, divulgation ou destruction.
        </p>
    </ol>
</div>
